<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="IMS" connectionString="data source=IMS_TEST.WORLD;user=IMS;password=MIIMS" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ReelShelfControlServiceIP" value="127.0.0.1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
