<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="IMS" connectionString="data source=IMS_TEST.WORLD;user=IMS;password=MIIMS" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
